body.deck-container {
    overflow: hidden;
}

.slide h2 {
    text-align: center;
}

.slide p {
    font-size: 200%;
    text-align: center;
}

.slide li p {
    font-size: 150%;
    text-align: left;
}
