@charset "UTF-8";
/**
 * YAML Builder 
 * A tool for visual layout development of YAML based CSS layouts
 *
 * User Inferface Styles
 *
 * @copyright       Copyright 2007, Dirk Jesse
 * @link            http://builder.yaml.de
 * @revision        $Revision: 107 $
 * @lastmodified    $Date: 2007-08-01 18:27:14 +0200 (Mi, 01 Aug 2007) $
 */

@media all
{	
 /** 
  * @section Firebug warning message container
  *
  */

	#fb_warning { 
		display:block; 
		position: absolute; top: 250px; left: 50%; z-index: 2000; width: 60em; margin: 0 0 0 -30em;
		font-size:13px;	text-transform:uppercase; text-align:left;
		background: #000; color: #fff; opacity: 0.8; filter: alpha(Opacity=80);
	}

	#fb_warning h3 { display:block; padding: .3em 20px; margin:0; background: #333; color: #999;}
	#fb_warning p {	padding:  0 20px; margin: 1.5em 0;}	
	#fb_warning form { padding: 0 20px; margin: 1em 0; font-size:12px; text-transform:none;}	
	#fb_warning .cv_insert { padding:0; }	
	#fb_warning .close {position:absolute; top: .8em; right: 1em}

 /** 
  * @section UI
  *
  */
    /* UI Main Container */
	#builder { display:none; position:absolute; z-index: 1000; top: 20px; left: 10px; padding: 4px;}
	#shadow { position:relative; top: 2px; left: 2px; padding:0px; background: transparent url('../images/bg_trans20.png') repeat top left;}	
	#ui_content { position:relative; width: 25em; padding: 0 6px 6px 6px; top: -3px; left: -3px; text-align: left; color: #333; border: 1px #668 solid;	}

	#codewindow,
	#helpwindow { display:none; position:absolute; z-index:1600; width: 70em; top: 70px; left: 50%; margin: 0 0 0 -35em; padding: 5px; background: #fff; border: 1px #000 solid; }
	
	#ui_content, 
	#codewindow,
	#helpwindow { background: #c8ddf3 url("../images/bg_header.gif") repeat-x left top; }

	/* Backgrounds */
	#dock { display:none; position:fixed; top:0; left:0; width: 27em; z-index: 990; background: #000; opacity: 0.5; filter: alpha(Opacity=50);}	
	#mask { position:fixed; top:0; left:0; z-index: 1500; background: #000; opacity: 0.5; filter: alpha(Opacity=50);}
	
	/* Changes for dock menu */
	#builder.vdock { position:fixed; top: 9px; left: .5em; padding:0; background: transparent; }
	#builder.vdock #shadow { background: transparent none; top:0; left:0; padding:0; }
	#builder.vdock #ui_content { margin:0; top:0; left:0; }
	#builder.vdock h2 { cursor:default; }

	/* highlighting layout elements */
	#hover_padding { position:absolute; z-index: 500; background: #ff0; opacity: 0.5; filter: alpha(Opacity=50); }
	#hover_width { position:absolute; z-index: 501; background: #4f4; opacity: 0.5; filter: alpha(Opacity=50); }

 /** 
  * @section Default Settings ...
  *
  */

	#order_2col {display:none}

 /** 
  * @section UI Content elements ...
  *
  */

	/* window titles */
	#builder h1, 
	#codewindow h2,
	#helpwindow h2 {
		display:block; 
		cursor:move; 
		color:#000;
		letter-spacing: -0.085em;
		padding: 10px 3px 3px 3px; 
		font-family: Geneva, Arial, Helvetica, sans-serif; 
		margin-bottom: 0px;
		letter-spacing: -0.08em;
	}

	#ui_version {color: #333; font-size: 11px; margin:-0.5em 0 0.5em 0;}

	/* UI main controlling elements */
	#controls, 
	#controls2 {overflow:hidden; text-align:center !important;}
	#controls table td {background: transparent; padding:0; border:0 none;}
	#yb_toggle_view {float:left;}
	#yb_reset { }
	#yb_view_code {float:right;}

	/* UI tab container */
	.jquery_tabs { border: 1px #667 solid; padding: 0; margin-bottom: 4px; background: #d4d4d4; }
	.jquery_tabs .content { padding-top: 3px; margin:0; background: #c8ddf3 url("../images/bg_body.png") repeat-x left top; border-top: 1px #000 solid; }

  	.tcontainer {margin: 3px; background: #fff; border: #345 1px solid; }
  	.tcontainer > p {margin: .2em 1em}

	#builder form,
	#codewindow form,
	#helpwindow form {text-align:left; overflow:hidden }
	
	#builder legend,
	#codewindow legend,
	#helpwindow legend { border: #98adc3 1px solid; padding: 0 5px; }	

	/* UI box headings */
	#builder h4,
	#helpwindow h4 {
		display:block;
		margin: 0;
		font-size: 82.5%;
		font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
		border-top: #d8edf3 1px solid; 
		border-left: #d8edf3 1px solid; 
		border-right: #b8cde3 1px solid; 
		border-bottom: #a8bdd3 1px solid;
		color: #000;
		padding: 4px 5px;
		font-weight:800;
		color: #335;
		text-transform:uppercase;
		background: #c8ddf3 url("../images/ui/uibg_color3.png") repeat-x left center; 
		font-style:normal;
    }

	/* positioning for inline help icons */
	#builder h4 a img {float:right; margin-top: -2px;}	

	/* UI: current view */
	#current_view {
		text-align:left; 
		color: #fff; 
		padding: 1px 3px 1px 24px;
		border: 1px #aaa solid; 
		font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; 
		font-size: 13px; 
		font-weight:normal;
		background: #777 url("../images/ui/monitor.png") no-repeat 2px 2px;
	}
	
	#codewindow .output {
		height: 400px;
		margin-top:0px; 
		overflow: auto; 
		font-family:"Courier New", Courier, monospace;
		text-align: left; 
		background: #fff;
	}

	#codewindow .output textarea {width: 100%; height: 100%; font-size: 12px; }

	/* automatic calculated width */
	#width_dummy { display:block; padding: 0 2px 2px 2px; color: #888; background: transparent url(../images/ui/lock.png) no-repeat top left; text-align: right; }
	/* information: allowed units */
	.infotext { font-size: 11px; margin: 0 0 0 4px; padding-left: 20px; background: transparent url(../images/ui/information.png) no-repeat top left;}
	
	
	#builder select,
	#builder input[type=text] { float:right; }

	#builder input[type=text] {text-align: right; padding: 2px; width: 5em; background-color: #f8f8f8; color: #444; border: 1px #ddd solid; max-width: 6em}
    #builder table input[type=text] {background-color: transparent; color: #444; border: 0; padding: 3px;}

	#builder input[type=text]:focus,
	#builder input[type=text]:hover,
	#builder input[type=text]:active {padding: 2px; color: #000; background: #fcfcfc url(../images/ui/pencil.png) no-repeat top left; border: 1px #888 dotted; }
	#builder input[type=text]:focus { background-color: #fff; border: 1px #888 solid; }	

  /**
   * @section Buttons
   */

	#builder input[type=button], 
	#builder input[type=button] {width: 7em; margin:0; padding: .3em 0.5em }
    #codewindow input[type=button],
	#helpwindow input[type=button] {width: auto; margin:0; padding: .3em 5px }

  /**
   * Tables | Tabellen
   * (en) Generic classes for table-width and design definition
   * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
   *
   * @section content-tables
   */

  table { width: auto; border-collapse:separate; margin-bottom: 0; }
  table.full { width: 100%; }
  table.fixed { table-layout:fixed }

  th,td { padding: 2px; text-align: center; font-weight:normal; }
 
  td.scroll {padding:0; background-image: none !important;}

  #dropelements_grids td { height: 1.9em }
  #dropelements_grids .scroll { height: 5.7em; }
  *:first-child+html #dropelements_grids .scroll { height: 6.84em; }

  #builder .inline_table {
	height: 100%;
	min-height: 100%;
	padding: 0; 
	margin:0; 
	zoom:1;
	overflow: auto; 
	overflow-x: hidden;
  }
  
  #builder th {
  	color: #335; 
	background: #c8ddf3 url("../images/ui/uibg_color3.png") repeat-x left center; 
	border-top: #d8edf3 1px solid; 
	border-left: #d8edf3 1px solid; 
	border-right: #b8cde3 1px solid; 
	border-bottom: #b8cde3 1px solid;
  }
  #builder th.secondary {
  	color: #555; 
	background: #eee url("../images/ui/uibg_color2.png") repeat-x left center;  
	border-top: #fff 1px solid; 
	border-left: #fff 1px solid; 
	border-right: #ddd 1px solid; 
	border-bottom: #ccc 1px solid;
  }
  #builder td {
  	color: #666; 
	background: #fff url("../images/ui/uibg_color1.png") repeat-x left center;  
	border-top: #fff 1px solid; 
	border-left: #fff 1px solid; 
	border-right: #f0f0f0 1px solid; 
	border-bottom: #f0f0f0 1px solid;
  }
  
  #builder td.align_left {
  	text-align:left;
	padding-left: 5px; 
  }

  #builder td.align_right {
  	text-align:right;
	padding-right: 5px;
  }

  #builder table input[type=text], 
  #builder table select {float:none !important; width: 90% !important; margin:0; display:inline; }	
 
  #markup_settings td.align_left input[type=text], 
  #markup_settings td.align_left select,
  #markup_settings td.align_right input[type=text], 
  #markup_settings td.align_right select {
  	float:right !important; 
	width: 60% !important;
  }

  #ext_layout_options td.align_left select,
  #ext_layout_options td.align_left input[type=text] {
  	float:right !important; 
	width: 40% !important;
  }

  #builder #tree input[type=text] {
  	text-align:left;
	background-position: right;
 	width: 95% !important;
	max-width: none;
  }
        
  table.columns2 .center {display:none}
  table.columns2 .left,
  table.columns2 .right {width: 31%}

  table.columns3 .left,
  table.columns3 .center,
  table.columns3 .right {width: 20%}

   /**
	* Tree View List Styles
	*
	*/
	
  #tree_updown {display:none}

  #tree_up {padding-left: 14px; background: transparent url("../images/ui/arrow_up.png") no-repeat top left; }
  #tree_down {padding-left: 14px; background: transparent url("../images/ui/arrow_down.png") no-repeat top left; }

  #treeview {height: 19em; width:100%; overflow:auto}
  #treeview ul {list-style-type:none; padding:0; background: #fff; margin: 0 0 0 6px;}
  /* IE7-Fix for white-space problem in treeview */
  *:first-child+html treeview ul { margin-right: -100em;}

  #treeview li {
	margin:0;
	white-space:nowrap;
  	padding: 2px 0px; 
	text-align: left; 
	font-weight:normal;
  	color: #aaa; 
	border:0;
  }
  
  #treeview ul ul {margin:0 0 0 4px; padding:0 0 0 8px; border-left: 1px #ccc dotted;}

  #treeview * {white-space:nowrap;}
  #treeview #treedummy {display:none;}

  #treeview span {
	display:block;
	white-space:nowrap;
  }

  #treeview a {
    color: #555;
  }

  #treeview a:hover {
    color: #000; background: #eee; text-decoration:none;
  }

  #treeview a.toggle { float:left; color: #334; width: 10px; height: 1em; padding: 7px 0 0 0; background: transparent url("../images/ui/node_minus.gif") no-repeat left center;}
  #treeview a.node { float:left; width: 10px; height: 1em; padding: 7px 0 0 0; background: transparent url("../images/ui/node.gif") no-repeat left center;}
  #treeview a.closed { background-image: url("../images/ui/node_plus.gif") !important;}
  #treeview a.active {color: #000; font-weight: bold; background-color: #ddf;}

  #treeview a.element {margin-left: 2px}

  #treeview a.toggle:hover,
  #treeview a.node:hover,
  #treeview a.closed:hover {text-decoration: none }


  #treeview .attribut { display:inline; color: red; background-color: inherit; }
  #treeview .string { display:inline; color: blue; background-color: inherit; }
  #treeview .keyword { display:inline; color: #069; font-weight: bold; background-color: inherit; }
  #treeview .preprocessor { display:inline; color: gray; background-color: inherit; }


  #element_properties th {width: 25% !important}

  #builder input.readonly[type=text] {color: #888; background-position: top right; background-repeat: no-repeat;}

  #builder input.readonly[type=text],
  #builder input.readonly[type=text]:focus,
  #builder input.readonly[type=text]:hover,
  #builder input.readonly[type=text]:active {background: transparent url(../images/ui/lock.png) no-repeat top left; border:0 none; padding: 3px;}


   /**
	* Status Elements
	*
	*/
	
	.yb_menu {display:none;}
	.cv_insert {display:block;}
	.remove_container {display:none;}

   /**
	* Drag & Drop Container
	*
	*/

	.protected { opacity: 0.3; filter: alpha(Opacity=30); }
	.dropaccept, .protected {
		width: 16px;
		height: 16px;
		float:left;
	}

	.dropaccept{cursor:move;}
	.protected{cursor:auto !important;}
	
	img.dropaccept, img.protected {
		background:#fff; 		
		border:#aaa 1px solid; 
	}
	
	#dropelements_content img.dropaccept, 
	#dropelements_content img.protected {
		margin: 1px;
		padding: 2px;
	}
	
	#dropelements_grids img.dropaccept, 
	#dropelements_grids img.protected {
		float:none;
		margin: 0;
		padding: 0;
		background: transparent; 		
		border: 0 none; 
	}
 /** 
  * @section Help window ...
  *
  */
	#helpwindow dl {overflow:hidden; padding 0; }
	#helpwindow dt {float: left; width: 15%; }
	#helpwindow dd {margin-left: 17%;}
	#helpwindow .text {padding: 10px 20px; overflow:auto; height: 350px;}
	#helpwindow h5 {padding: 0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 1.5em;}

 /** 
  * @section Safari 2.x CSS-Bugfixes for Tabs ...
  *
  */

	#codewindow h3, 
	#helpwindow h3, 
	#builder h3,
	#builder #css_tab,
	#builder #elements, 
	#builder #info {display:none}
	
}